{% extends './base.html' %} 

{% load static %} 
{% block content %}
{% load plotly_dash %}
<div class="container bg-white text-dark">
    <div class="row">
        <h1 class="my-2 mx-auto">Contact</h1>
    </div>
    <div class="row my-2">
        <a href="https://www.haigislab.org/contact">Contact the Haigis Lab</a>
    </div>
    <div class="row my-2">
        <a href="https://compbio.hms.harvard.edu/contact">Contact the Park Lab</a>
    </div>
    <div class="row my-2">
        <a href="https://www.specificancer.org/contact-us">Contact SpecifiCancer</a>
    </div>
</div>

{% endblock %}