{% extends './base.html' %} 

{% load static %} 
{% block content%}
{% load plotly_dash %}
<h1>{{ gene1 }}</h1>
<div class="card mx-auto" style="height: 100%; width: 80%">
{{ plot | safe }}
</div>
{% comment %} <div class="{% plotly_class name="SimpleExample" %} card" style="height: 100%; width: 100%">
    {% plotly_app name="SimpleExample" ratio=0.65 %}
</div> {% endcomment %}
<br>
{{ plot | safe }}

<div class="row colon_data">
{% for data in colon_data %}
<p>{{data.gene_symbol}}</p>
{% endfor %}
</div>
{% endblock %}