{% extends './base.html' %} 

{% load static %} 
{% block content%}
{% load plotly_dash %}

{% comment %} <h1 class="text-center">{{ gene1name }}</h1> {% endcomment %}

{% comment %} <div class="card" style="height: 100%; width: 100%">
{{ plot | safe }}
</div> {% endcomment %}
{% comment %} <div class="{% plotly_class name="SimpleExample" %} card" style="height: 100%; width: 100%">
    {% plotly_app name="SimpleExample" ratio=0.65 %}
</div>  {% endcomment %}
<br>

<div class="card text-center" style="height: 100%; width: 100%">
  <div class="card-header">
    {{ gene1name }}
  </div>
  <div class="card-body">
    {{ plot | safe }}
  </div>
  <div class="card-footer text-muted">
    Date updated: 
  </div>
</div>



{% comment %} <div class="row colon_data">
{% for data in colon_data %}
<p>{{data.gene_symbol}}</p>
{% endfor %}
</div> {% endcomment %}
{% endblock %} 


{% comment %} mx-auto {% endcomment %}