{% extends './base.html' %} 

{% load static %} 
{% block content%}
{% load plotly_dash %}

<div class="card mx-auto" style="width: 80%">
  <form id="search_form" method="get" action="{% url 'search_results' %}">
    <div class="card-body">
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="button-addon2" name="user_input">
        <div class="input-group-append">
          <button class="btn btn-info" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>



{% endblock %} 
