{% extends './base.html' %} 

{% load static %} 
{% block content%}
{% load plotly_dash %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="position-relative overflow-hidden text-center text-dark">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Punny headline</h1>
    <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
</div>

<div class="row text-dark bg-white shadow">
  <div class="col-xl-6">
  <h2> Proteogenomic Network Analysis of Context-Specific KRAS Signaling in Mouse-to-Human Cross-Species Translation </h2>
  <p>Published: September 11, 2019 </p> 
  <p>DOI: <a href="https://doi.org/10.1016/j.cels.2019.07.006">https://doi.org/10.1016/j.cels.2019.07.006</a></p>
  <br>
  <h4>Authors</h4>
  <p>D. K. Brubaker, J.A. Paulo, S. Sheth, E. J. Poulin, O. Popow, B. A. Joughin, S. D. Strasser, A. Starchenko, S. P. Gygi, D. A. Lauffenburger, K. M. Haigis.</p>
  <br>
  <h4>Summary</h4>
  <p>The highest frequencies of KRAS mutations occur in colorectal carcinoma (CRC) and pancreatic ductal adenocarcinoma (PDAC). 
  The ability to target downstream pathways mediating KRAS oncogenicity is limited by an incomplete understanding of the contextual cues modulating the signaling output of activated K-RAS. 
  We performed mass spectrometry on mouse tissues expressing wild-type or mutant Kras to determine how tissue context and genetic background modulate oncogenic signaling. 
  Mutant Kras dramatically altered the proteomes and phosphoproteomes of preneoplastic and neoplastic colons and pancreases in a context-specific manner. 
  We developed an approach to statistically humanize the mouse networks with data from human cancer and identified genes within the humanized CRC and PDAC networks synthetically lethal with mutant KRAS. 
  Our studies demonstrate the context-dependent plasticity of oncogenic signaling, identify non-canonical mediators of KRAS oncogenicity within the KRAS-regulated signaling network, 
  and demonstrate how statistical integration of mouse and human datasets can reveal cross-species therapeutic insights.</p>
  </div>
  <div class="col-xl-6">
  <img src="https://marlin-prod.literatumonline.com/cms/attachment/f316fa4d-23c0-486d-be2e-891ddb07e48e/fx1_lrg.jpg" width="100%" height="100%">
  </div>
</div>


  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> --> <!-- /container -->
{% endblock %} 
