{% extends './base.html' %} 

{% load static %} 
{% block content%}
{% load plotly_dash %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
  <div class="position-relative overflow-hidden text-center text-dark">
    <div class="p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normals">Tissue-of-origin and genetic background effects on K-Ras signaling</h1>
    </div>
  </div>
</div>
<div class="container" id="publication">
  <div class="row text-dark bg-white shadow">
    <div class="col-xl-6">
    <h2 class="my-3"> Proteogenomic Network Analysis of Context-Specific KRAS Signaling in Mouse-to-Human Cross-Species Translation </h2>
    <p>Published: September 11, 2019 </p> 
    <p>DOI: <a href="https://doi.org/10.1016/j.cels.2019.07.006">https://doi.org/10.1016/j.cels.2019.07.006</a></p>
    <br>
    <h4>Authors</h4>
    <p>D. K. Brubaker, J.A. Paulo, S. Sheth, E. J. Poulin, O. Popow, B. A. Joughin, S. D. Strasser, A. Starchenko, S. P. Gygi, D. A. Lauffenburger, K. M. Haigis.</p>
    <br>
    <h4>Summary</h4>
    <p>The highest frequencies of KRAS mutations occur in colorectal carcinoma (CRC) and pancreatic ductal adenocarcinoma (PDAC). 
    The ability to target downstream pathways mediating KRAS oncogenicity is limited by an incomplete understanding of the contextual cues modulating the signaling output of activated K-RAS. 
    We performed mass spectrometry on mouse tissues expressing wild-type or mutant Kras to determine how tissue context and genetic background modulate oncogenic signaling. 
    Mutant Kras dramatically altered the proteomes and phosphoproteomes of preneoplastic and neoplastic colons and pancreases in a context-specific manner. 
    We developed an approach to statistically humanize the mouse networks with data from human cancer and identified genes within the humanized CRC and PDAC networks synthetically lethal with mutant KRAS. 
    Our studies demonstrate the context-dependent plasticity of oncogenic signaling, identify non-canonical mediators of KRAS oncogenicity within the KRAS-regulated signaling network, 
    and demonstrate how statistical integration of mouse and human datasets can reveal cross-species therapeutic insights.</p>
    </div>
    <div class="col-xl-6">
    <img src="https://marlin-prod.literatumonline.com/cms/attachment/f316fa4d-23c0-486d-be2e-891ddb07e48e/fx1_lrg.jpg" width="105%" height="100%">
    </div>
  </div>
</div>

<!-- <div class="text-center container text-dark mt-3">
  <div class="row">
    <div class="col-md-3">
      <h4>Tp53-mutant pancreas</h4>
      <p class="text-center"><a class="btn btn-info" href="#" role="button">Download &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h4>Whole Pancreas</h4>
      <p class="text-center"><a class="btn btn-info" href="#" role="button">Download &raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h4>Colonic epithelium</h4>
      <p class="text-center"><a class="btn btn-info" href="#" role="button">Download&raquo;</a></p>
    </div>
    <div class="col-md-3">
      <h4>Apc-mutant colon</h4>
      <p class="text-center"><a class="btn btn-info" href="#" role="button">Download &raquo;</a></p>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-md-4">
    <img class="my-2" src="https://static.projects.iq.harvard.edu/files/styles/os_files_xxlarge/public/hmsidentityguide/files/hms_logo_final_rgb_0.png?m=1543347517&itok=CIorY2x8"
    style="width: 50%;">
    </div>
    <div class="col-md-4">
    <a href="https://www.specificancer.org">
      <img class="my-2" src="https://upload.wikimedia.org/wikipedia/en/thumb/4/43/Cancer_Research_UK.svg/1200px-Cancer_Research_UK.svg.png" style="width: 35%;">
    </a>
    </div>
    <div class="col-md-4">
    <a href="https://www.haigislab.org">
      <img class="my-2" src="https://static1.squarespace.com/static/53c45134e4b02bb571b6f16c/t/53c451c3e4b083778300f2b8/1578366659081/?format=1500w" style="width: 30%;">
    </a>
    </div>
  </div>
</div>


<!-- /container -->
{% endblock %} 
